/*******************************Calendar Top Navigation*********************************/
.calendar {
    margin: 0px auto;
    padding: 0px;
    width: 322px;
    font-family: Helvetica, "Times New Roman", Times, serif;
}

.calendar div.box {
    position: relative;
    top: 0px;
    left: 0px;
    width: 322px;
    height: 40px;
    background-color: #787878;
    border-radius: 4px 4px 0 0;
}

.calendar div.cal-header {
    line-height: 40px;
    vertical-align: middle;
    position: absolute;
    left: 11px;
    top: 0px;
    width: 282px;
    height: 40px;
    text-align: center;
}

.calendar div.cal-header a.prev,
.calendar div.cal-header a.next {
    position: absolute;
    top: 0px;
    height: 17px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
}

.calendar div.cal-header span.title {
    color: #FFF;
    font-size: 18px;
}


.calendar div.cal-header a.prev {
    left: 0px;
}

.calendar div.cal-header a.next {
    right: 0px;
}

/*******************************Calendar Content Cells*********************************/
.calendar div.box-content {
    border: 1px solid #787878;
    border-top: none;
    border-radius: 0 0 4px 4px;
}

.calendar ul.label {
    float: left;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    margin-left: 5px;
}

.calendar ul.label li {
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
    float: left;
    list-style-type: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color: #000;
    font-size: 15px;
    background-color: transparent;
}


.calendar ul.dates {
    float: left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}

/** overall width = width+padding-right**/
.calendar ul.dates li {
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
    margin-top: 5px;
    line-height: 40px;
    vertical-align: middle;
    float: left;
    list-style-type: none;
    width: 40px;
    height: 40px;
    font-size: 16px;
    /* background-color: #DDD; */
    color: #000;
    text-align: center;
}

.cs-run {
    color: #00ff00;
}
.unmark {
    background-color: #EEEEEE;
}
.sprint-start {
    border-bottom: solid 2px #777;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
}
.sprint-mid {
    border-bottom: solid 2px #777;
    border-top: solid 2px #777;
}
.sprint-end {
    border-bottom: solid 2px #777;
    border-top: solid 2px #777;
    border-right: solid 2px #777;
}

:focus {
    outline: none;
}

div.clear {
    clear: both;
}