.backlog-todo{ background-color: rgba(255, 99, 132,0.9);}
.backlog-progress{ background-color: rgba(238, 188, 28,0.9);}
.backlog-done{ background-color: rgba(75, 192, 192,0.9);}
.cost-actual{ background-color: rgba(54, 162, 235,0.9);}
.cost-plan{ background-color: rgba(238, 188, 28,0.9);}
.finding-open{ background-color: rgba(255, 99, 132,0.9);}
.finding-reopen{ background-color: rgba(153, 102, 255,0.9);}
.finding-progress{ background-color: rgba(238, 188, 28,0.9);}
.finding-fix{ background-color: rgba(54, 162, 235,0.9);}
.finding-close{ background-color: rgba(75, 192, 192,0.9);}
.project-plan{ background-color: rgba(54, 162, 235,0.9);}
.project-run{ background-color: rgba(238, 188, 28,0.9);}
.project-done{ background-color: rgba(75, 192, 192,0.9);}
.project-terminate{ background-color: rgba(255, 99, 132,0.9);}
.project-cancel{ background-color: rgba(155, 155, 155,0.9);}
.record-active{ background-color: rgba(54, 162, 235,0.9);}
.record-inactive{ background-color: rgba(155, 155, 155,0.9);}
.severity-critical{ background-color: rgba(255, 99, 132,0.9);}
.severity-high{ background-color: rgba(153, 102, 255,0.9);}
.severity-medium{ background-color: rgba(238, 188, 28,0.9);}
.severity-low{ background-color: rgba(155, 155, 155,0.9);}
.sprint-complete{ background-color: rgba(155, 155, 155,0.9);}
.sprint-run{ background-color: rgba(75, 192, 108, 0.9);}
.sprint-upcoming{ background-color: rgba(238, 188, 28,0.9);}
.team-active{ background-color: rgba(54, 162, 235,0.9);}
.team-inactive{ background-color: rgba(155, 155, 155,0.9);}
.user-pending{ background-color: rgba(238, 188, 28,0.9);}
.user-active{ background-color: rgba(54, 162, 235,0.9);}
.user-blocked{ background-color: rgba(255, 99, 132,0.9);}
.user-inactive{ background-color: rgba(155, 155, 155,0.9);}
.project_result-failed{ background-color: rgba(255, 99, 132,0.9);}
.project_result-succeed{ background-color: rgba(75, 192, 192,0.9);}
.project_result-canceled{ background-color: rgba(155, 155, 155,0.9);}
.project_result-notyet{ background-color: rgba(153, 102, 255,0.9);}
.backlog_acc-reviewed{ background-color: rgba(238, 188, 28,0.9);}
.backlog_acc-accepted{ background-color: rgba(75, 192, 192,0.9);}
.backlog_acc-rejected{ background-color: rgba(255, 99, 132,0.9);}
.team_role-owner{ background-color: rgba(153, 102, 255,0.9);}
.team_role-manager{ background-color: rgba(238, 188, 28,0.9);}
.team_role-member{ background-color: rgba(75, 192, 192,0.9);}
.team_role-user{ background-color: rgba(255, 99, 132,0.9);}
.role-admin{ background-color: rgba(153, 102, 255,0.9);}
.role-member{ background-color: rgba(75, 192, 192,0.9);}
.role-guest{ background-color: rgba(255, 99, 132,0.9);}
